.HowItWorksThreeCards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items:center;
    align-items: stretch;
    gap: 32px;
}

.HowItWorksCardText h3{
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
}

.HowItWorksCardText p{
    color: #434343;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.HowItWorksCardText{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.cards-in-how-it-works{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    position: relative;
    padding-top: 120px;
}

.CardNumber{
    position: absolute;
    color: #EEB406;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 240px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    z-index: 2;
    right:16px;
    top: -120px;
}

.HowItsWoksEachCardOuter{
    position: relative;
    margin-top: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: stretch;
}

.border-gradient-color{
    border-radius: 1.5rem;
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: -1px;
    top: -1px;
    background: linear-gradient(150deg, #9747FF 0%, #EDB306 98.54%);
}

@media(max-width:1240px){
    .HowItWorksThreeCards{
        grid-template-columns: repeat(2,1fr);
    }
    .CardThreeInHowItWorks{
        grid-column-start: 1 ;
        grid-column-end:3 ;
        width: 48%;
    }
    
}

@media(max-width:1080px){
    .CardNumber{
        font-size: 192px;
        top: -100px;
    }
    .cards-in-how-it-works{
        padding-top: 96px;
    }
    .cards-in-how-it-works img{
        transform: scale(0.8);
    }
    .HowItsWoksEachCardOuter{
        margin-top: 120px;
    }
}
@media(max-width:840px){
    .HowItWorksThreeCards{
        grid-template-columns: repeat(1,1fr);
    }
    .CardThreeInHowItWorks{
        grid-column-start: 1 ;
        grid-column-end:2 ;
        width: 100%;
    }
    .CardThreeInHowItWorksInner{
        width: 100%;
    }
    .HowItsWoksEachCardOuter{
        margin-top: 96px;
    }
}

@media(max-width:560px){
    .CardNumber{
        font-size: 152px;
        top: -80px;
    }
    .cards-in-how-it-works{
        padding-top: 76px;
    }
    .cards-in-how-it-works img{
        transform: scale(0.64);
    }

    .HowItWorksCardText h3{
        font-size: 22px;
    }
    .HowItWorksCardText p{
        font-size: 14px;
    }
    .cards-in-how-it-works{
        gap: 20px;
    }
    .HowItsWoksEachCardOuter{
        margin-top: 76px;
    }
}

@media(max-width:480px){
    .CardNumber{
        font-size: 120px;
        top: -60px;
    }
    .HowItsWoksEachCardOuter{
        margin-top: 60px;
    }
}