.TVChannelImgage{
    width: 56px;
    object-fit: cover;
}

.IndianStatsScrollEachData{
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: var(--card-background, #131419);
    backdrop-filter: blur(30px);
    padding: 24px;
    
    flex: 0 0 40%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.IndianStatsMessage{
    color: #838383;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.IndianStatsMessagePerson{
    color: #E1AA05;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: right;
}

.ReadArticleText{
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: linear-gradient(97deg, #AFAFAF 35.47%, rgba(175, 175, 175, 0.00) 119.92%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ReadArticleButton{
    padding: 10px 20px;
    border-radius: 52.258px;
    border: 0.6px solid rgba(255, 255, 255, 0.14);
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0px -1.568px 0px 0px rgba(0, 0, 0, 0.20) inset, 0px 0.523px 0px 0px rgba(255, 255, 255, 0.40) inset;
}

.IndianStatsEachDataTop{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.IndianStatsEachDataBottom{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

@media(max-width:1240px){
    .IndianStatsScrollEachData{
        flex: 0 0 60%;
    }
}

@media(max-width:720px){
    .IndianStatsMessage{
        font-size: 19.2px;
    }
    .IndianStatsMessagePerson{
        font-size: 14px;
    }
    .TVChannelImgage{
        width: 44px;
    }
    .IndianStatsScrollEachData{
        gap: 24px;
        flex: 0 0 80%;
    }
    .IndianStatsEachDataTop {
        gap: 12px;
    }
}

@media(max-width:560px){
    .IndianStatsScrollEachData{
        flex: 0 0 88%;
    }
}

@media(max-width:480px){
    .IndianStatsScrollEachData{
        flex: 0 0 94%;
    }
    .IndianStatsMessage{
        font-size: 16px;
    }
    .IndianStatsMessagePerson{
        font-size: 12px;
    }
    .TVChannelImgage{
        width: 36px;
    }
    .ReadArticleButton{
        padding: 8px 16px;
    }
}

@media(max-width:440px){
    .IndianStatsScrollEachData{
        flex: 0 0 120%;
    }   
}