.NavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(11, 11, 15, 0.10);
    backdrop-filter: blur(12px);
    position: fixed;
    padding: 32px 160px;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 4;
}
.LogoOuter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.AllNavLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.AllNavLinks p{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.LanguageChange{
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 48px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(238, 180, 6, 0.04);
    backdrop-filter: blur(30px);
}

.LanguageChange p{
    color: #E1AA05;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.NavBarButton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.Hambargar{
    display: none;
}
@media(max-width:1240px){
    .AllNavLinks{
        display: none;
    }
}

@media(max-width:1080px){
    .NavBar{
        padding-left: 120px;
        padding-right: 120px;
    }
}

@media(max-width:840px){
    .NavBar{
        padding-left: 64px;
        padding-right: 64px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

@media(max-width:720px){
    .NavBar{
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media(max-width:560px){
    .NavBar{
        padding-left: 16px;
        padding-right: 16px;
    }
    .CheckMediaInNavBar{
        display: none;
    }
    .Hambargar{
        display: block;
    }
}