.section-title{
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.section-subtitle{
    color: #434343;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media(max-width:1080px){
    .section-title{
        font-size: 44.8px;
    }
    .section-subtitle{
        font-size: 19.2px;
    }
}

@media(max-width:480px){
    .section-title{
        font-size: 35.2px;
    }
    .section-subtitle{
        font-size: 16px;
    }
}