.section-title{
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.section-subtitle{
    color: #434343;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}