.ProgressBarAndButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.ProgressBarHeader{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ProgressBarHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}

.AnalysingSectionSpotlightOuterBox{
    position: relative;
}

.AnalysingSectionOuter{
    margin-top: 160px;
    margin-bottom: 160px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    position: relative;
}

.AnalysingSectionHeader{
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.AnalysingSection{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.BackHomeButtonINAnalyse{
    display: flex;
}

.ViewResultButton{
    text-decoration: none;
    cursor: pointer;
}

.ProgressBarFooter{
    position: relative;
}
.TextBelowInSemiCircle{
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    position: relative;
    bottom: 120px;
}

.ViewResultButton,.DisViewResultButton{
    position: absolute;
    bottom: 0px;
}
.DisViewResultButton{
    cursor: not-allowed;
}
@media(max-width:840px){
    .AnalysingSectionHeader{
        font-size: 44px;
    }
}
@media(max-width:720px){
    .TextBelowInSemiCircle{
        font-size: 14px;
        bottom: 104px;
    }
}

@media(max-width:560px){
    .AnalysingSectionHeader{
        font-size: 38px;
    }
    .ProgressBarHeader{
        font-size: 22px;
    }
    .TextBelowInSemiCircle{
        font-size: 12px;
        bottom: 92px;
    }
    .AnalysingSectionOuter{
        margin-top: 120px;
        margin-bottom: 120px;
    }
}

@media(max-width:480px){
    .AnalysingSectionHeader{
        font-size: 32px;
    }
    .ProgressBarHeader{
        font-size: 20px;
    }
}