.FAQSection{
    margin-bottom: 160px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.FAQSAllQuestions{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media(max-width:560px){
    .FAQSection{
        margin-bottom: 120px;
    }
}