.HowItWorks{
    margin-bottom: 160px;
}

@media(max-width:840px){
    .HowItWorks{
        display: flex;
        flex-direction: column;
        gap:24px;
    }
}

@media(max-width:560px){
    .HowItWorks{
        margin-bottom: 120px;
    }
}