.ResultSectionOuter{
    margin-top: 60px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.CircleProgressBarShieldLinks{
    display: flex;
    justify-content: space-between;
}

.CircleProgressBarWithButton{
    width: 50%;
    border-radius: 15.75px;
    border: 1.575px solid var(--Stroke, #2B2B2B);
    background: linear-gradient(122deg, #0E0E0E 0%, #050505 96.81%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.ShieldAndLinks{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.ShieldAboveText{
    color: #868686;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.3;
}

.UploadAndGetLinks{
    border-radius: 10px;
    border: 1px solid var(--Stroke, #2B2B2B);
    background: linear-gradient(122deg, #0E0E0E 0%, #050505 96.81%);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.Shield{
    border-radius: 10px;
    border: 1px solid var(--Stroke, #2B2B2B);
    background: linear-gradient(122deg, #0E0E0E 0%, #050505 96.81%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.WhereUploadedText{
    font-family: "Carbon Bold";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.GetLinks{
    display: flex;
    gap: 8px;
    padding: 9.12px 18.24px;
    border-radius: 4.8px;
    background: #683FEA;
    box-shadow: 0px 0px 86.4px 0px rgba(153, 23, 255, 0.50);
    align-items: center;
}
.GetLinks p{
    color: #FFF;
    font-family: "Carbon Bold";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.PhotosAndHeatMap{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    border-radius: 15.75px;
    border: 1.575px solid var(--Stroke, #2B2B2B);
    background: linear-gradient(122deg, #0E0E0E 0%, #050505 96.81%);
}

.PhotosOfUploaded{
    display: flex;
    gap: 24px;
    justify-content: flex-start; /* Align items without extra space */
    align-items: center; /* Align items vertically */
    width: auto; 
    width: fit-content;
}

.PhotosOfUploaded img{
    width: 32%;
    border-radius: 14px;
    flex-shrink: 0;
    flex-grow: 0;
}

.ResultSectionSpotlight{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.HeatMapText{
    font-family: "Carbon Bold";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.AnalysisText{
    color: #868686;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ResultSectionSpotlightOuterBox{
    position: relative;
}

.ResultSectionSpotlight{
    padding-top: 120px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;
}

.ResultHeadline{
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ResultSection{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.BackButtonInResult{
    display: flex;
}

.ReportText{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ReportButton{
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 4.8px;
    background: #B31D1D;
    box-shadow: 0px 0px 86.4px 0px rgba(179, 29, 29, 0.50);
}

.PopUpBackgroundBlur{
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    z-index: 2;
}

.ResultSectionBottomBottons{
    display: flex;
    justify-content: center;
    gap: 48px;
}

.ReAnalyseText{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}

.DownloadText{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ReAnalyseButton,.DownloadReportButton{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
}

.ReAnalyseButton{
    border-radius: 4.8px;
    border: 0.5px solid #FFF;
}

.DownloadReportButton{
    border-radius: 4.8px;
    background: #683FEA;
    box-shadow: 0px 0px 86.4px 0px rgba(153, 23, 255, 0.50);
}